.custom-card {
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.301);
  border-radius: 15px !important;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 4em;
}

label::after {
  content: " *";
  color: red;
}
input[type="text"],
input[type="phone"],
input[type="email"],
select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 10px;
  margin-block: 5px;
  border: 1px solid #dddddd;
  border-radius: 25px !important;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.205);
  width: 100%;
  &:hover {
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.349);
  }
  &:focus {
    box-shadow: unset;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-image: url("../../Assets/Dropdown\ Arrow.png");
  background-position: calc(100% - 30px) 14px, calc(100% - 20px) 14px, 100% 0;

  background-repeat: no-repeat;
}

// SELECT IMAGE - hidden input
input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
}
.custom-file-upload::after {
  content: unset;
}

// custom number field with the line

.custom-number-input {
  background-image: url("../../Assets/Devider\ Line.png");
  background-position: calc(100% - 280px) 8px, calc(100% - 20px) 4px, 100% 0;

  background-repeat: no-repeat;
}
