@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("./Assets/Main\ BG.png");
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
